@font-face {
  font-family: "iconfont"; /* Project id 3172792 */
  src: url('iconfont.woff2?t=1645515939104') format('woff2'),
       url('iconfont.woff?t=1645515939104') format('woff'),
       url('iconfont.ttf?t=1645515939104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e8a4";
}

.icon-bianji:before {
  content: "\e816";
}

.icon-fsux_tubiao_fenbuquxiantu:before {
  content: "\e600";
}

.icon-tongji:before {
  content: "\e64d";
}

.icon-favorfill:before {
  content: "\e64b";
}

.icon-favor:before {
  content: "\e64c";
}

.icon-question:before {
  content: "\e691";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-roundaddfill:before {
  content: "\e6d8";
}

.icon-roundadd:before {
  content: "\e6d9";
}

.icon-add:before {
  content: "\e6da";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-select:before {
  content: "\e661";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-about:before {
  content: "\e601";
}

.icon-logout:before {
  content: "\e66b";
}

.icon-star:before {
  content: "\e7df";
}

.icon-play:before {
  content: "\e717";
}

.icon-zhuxiao:before {
  content: "\e62a";
}

.icon-settings:before {
  content: "\e725";
}

.icon-sorting:before {
  content: "\e766";
}

.icon-tongjifenxi-changguitongji:before {
  content: "\e626";
}

.icon-quxian:before {
  content: "\e653";
}

.icon-tag:before {
  content: "\e66c";
}

.icon-c:before {
  content: "\e6c2";
}

