@font-face {
  font-family: "iconfont"; /* Project id 3172792 */
  src: url('iconfont.woff2?t=1644335074994') format('woff2'),
       url('iconfont.woff?t=1644335074994') format('woff'),
       url('iconfont.ttf?t=1644335074994') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
  content: "\e66c";
}

.icon-c:before {
  content: "\e6c2";
}

.icon-check-box:before {
  content: "\e600";
}

